---
title: "Te Papa"
layout: archive
author_profile: false
---

{% include base_path %}

<h1>Digital Language System</h1>
<p>Our Digital Language System (or DLS) allows us to create and maintain a shared language of concepts and patterns to inform the design and development of our digital properties. It will help us to create consistent user experiences for our audience inside and outside the walls of our museum.</p>
<p>The DLS will grow and adapt over time to cover more of what we do.</p>

{% include nav_list nav="site" %}
