---
title: "Te Papa: Digital Language System"
layout: archive
author_profile: false

feature_row:
  - image_path: home-icon-foundations.png
    alt: "Foundations icon"
    title: "Foundations"
    excerpt: "Broad articles on creating digital outputs."
    url: "/_pages/foundations/"
  - image_path: home-icon-principles.png
    alt: "Principles icon"
    title: "Principles"
    excerpt: "A best practice set of common standards and guidelines."
    url: "/_pages/principles/"
    btn_label: "Read More"
  - image_path: home-icon-patterns.png
    alt: "Patterns icon"
    title: "Patterns"
    excerpt: "Concrete, reusable design patterns."
    url: "/_pages/patterns/"
---

{% include base_path %}

<h2>“How we do things on screen”</h2>
<p>Our Digital Language System (or DLS) allows us to create and maintain a shared language of principles and patterns to inform the design and development of our digital properties. It is used to help create consistent user experiences for our audience inside and outside the walls of our museum.</p>
<p>The DLS will adapt over time.</p>

{% include feature_row %}
