/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid #e6e6e6; //$light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid #e6e6e6; //$light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid #e6e6e6; //$light-gray;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid #e6e6e6; //$light-gray;
  border-right: 1px solid #e6e6e6; //$light-gray;
}

tr, td, th {
  vertical-align: middle;
}

.icon-table {
  font-size: 1em;

  img {
    width: 100px;
    height: auto;
  }

  td:first-child {
    width: 6.25em;
  }

  td:nth-child(3),
  td:nth-child(4) {
    width: 4em;
  }
}